* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--Light);
    --ThirdColor : #4EA5D9; /* Caroline Blue */
    --Dark : #121212; /* Rich black FOGRA 39*/
    --Light : #F4F4F9; /* Ghost White */
}

h2 {
  font-size: 3em;
}

@media (max-width:550px) {
  h2{
    font-size: 2em;
  }
}

/* Main of the about page */

.about-wrapper {
  margin: 0 auto;
  width: 95%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.my-about {
    float: left;
    width: 65%;
    padding: 50px;   
}
 
.my-about h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.my-about h2 u {
  text-decoration-color: var(--ThirdColor);
}

.my-about p {
  font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    margin: 8px;
    margin-left: inherit;
}

.my-about p span {
  font-size: 1.5em;
}
  
.my-image-container {
    width: 35%;
    height: auto;
    margin: 0 auto;
}
  
.my-image-container img {
    width: 100%;
    height: auto;
}

@media (max-width:1050px) {
  .my-about {
    width: 60%;
  }
  .my-image-container {
    width: 40%;
  }
}

@media (max-width:950px) {
  .about-wrapper {
    margin-top: 120px;
  }
  .my-about {
    text-align: center;
    width: 100%;
  }
  .my-image-container {
    width: 50%;
  }
}

@media (max-width:400px) {
  .my-about p {
    font-size: 1.5em;
  }
}

/* Education timeline section */
.education-section {
  margin-top:100px 130px;
}

.timeline-container {
  min-height: 50vh;
  width: 100%;
  padding: 100px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  height: auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 0;
  margin-bottom: 20px;
}

.timeline-content {
  border-radius: 5px ;
}

.timeline-content h3 {
  font-size: 30px;
  margin-bottom: 5px;
  background: transparent;
}

.timeline-content p {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  background: transparent;
  color: rgb(200, 200, 200);
}

.year {
  position: relative;
  top: -6px;
  font-size: 17px !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: var(--ThirdColor) !important;
}

/* Smaller Screens */
@media (max-width:768px) {
  .timeline-container {
    width: 95%;
    margin: 0 auto;
    padding: 30px;
  }
  .timeline {
    width: 95%;
    margin: 0 80px;
    margin-left: 55px;
    padding-bottom: 0px;
  }
  .timeline ul li {
    width: 100%;
    padding: 10px;
    padding-top: 0;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .year {
    top: -10px;
  }
  /* For the vertical line 
  .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: rgb(32, 32, 32);
  }
  /* For the round dots on the vertical line *
  .timeline ul li::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border: 2px solid rgb(138, 138, 138);
    border-radius: 50%;
    top: 0;
    left: -5px;
    background-color: var(--Dark);
  }
  */
}

/* Bigger Screens */
@media only screen and (min-width:768px) {
  /* For the vertical line */
  .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(32, 32, 32);
  }
  /* position of each list item */
  .timeline ul li {
    width: 50%;
    margin-bottom: 10px;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    text-align: end;
    transform: translateX(-30px);
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
  }
  /* For the round dots on the vertical line */
  .timeline ul li::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border: 2px solid rgb(138, 138, 138);
    border-radius: 50%;
    top: 0;
    background-color: var(--Dark);
  }
  .timeline ul li:nth-child(odd)::after {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  /* Year of each content 
  .timeline ul li:nth-child(odd) .timeline-content .year {
    right: -20px;
  }
  .timeline ul li:nth-child(even) .timeline-content .year {
    left: -20px;
  }
  */
}

.timeline ul li:nth-last-child()::before {
  margin-bottom: 0;
}

/* Skills section */
.skills-section-wrapper {
  position: relative;
  margin : 0;
  margin-top: 0;
  padding: 80px;
  width: 100%;
}

.skills-section {
  margin: 250px auto;
}

.skills-section p {
  width: 30%;
  margin: 10px auto;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.skills {
  width: 30%;
  margin: 0 auto;

}

.skills p {
  text-align: left;
}

/*.skills {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 10px auto;
  padding: 10px;
}
.skills img {
  background-color: var(--Light);
  width: 20%;
  max-width: 100px;
  height: auto;
  border-radius: 0;
}

*/

@media (max-width:450px) {
  .skills-section {
    margin: 150px auto;
  }


