@font-face {
  font-family: overpass;
  src: url(./Overpass_Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-family: 'overpass';

    --Cinnabar : #EF3E36;
  }

  .fullpage {
    width: 100%;
    height: 100vh;
    margin: 0;
  }

/* Main of the home page */
.main {
  vertical-align: middle;
  background-color: black;
  color: white;
}

.main-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.main-text-container h1{
  margin: auto;
  font-size: 5vw;
  font-weight: 400;
  z-index: 0;
}

@media (max-width:750px) {
  .main-text-container {
    width: 80%;
  }
  .main-text-container h1 {
    font-size: 6vw;
  }
}

@media (max-width:550px) {
  .main-text-container h1 {
    font-size: 6.5vw;
  }
}

@media (max-width:450px) {
  .main-text-container h1 {
    font-size: 8.9vw;
  }
}

.zero-opacity {
  opacity: 0;
}

/* Projects Section */
.project-img {
  max-width: 500px;
  max-height: 500px;
}

.project-img img {
  width: 100%;
  height: auto;
}