* {
    --ThirdColor : #4EA5D9; /* Caroline Blue */
    --Dark : #121212; /* Rich black FOGRA 39*/
    --Light : #F4F4F9; /* Ghost White */
    box-sizing: border-box;
}

/* Menu button and its animation*/
.menu-btn {
    float: right;
    margin: 40px;
    margin-right: 70px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50px;
    height: 50px;

    background-color: transparent;
    cursor: pointer;

    z-index: 3;
    /*transition: all .2s ease-in-out;*/
    /*border: 1px solid white;*/
}

@media (max-width:550px) {
    .menu-btn {
        margin-right: 40px;
    }
  }

.menu-btn_burger {
    width: 30px;
    height: 2px;
    background-color: white;
    border-radius: 12px;
    transition: all .2s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-9px);
}

.menu-btn_burger::after {
    transform: translateY(9px);
}

.menu-btn.open {
    background-color: transparent;
    transition: all .2s ease-in-out;
}

.menu-btn.open .menu-btn_burger {
    
    transform: translateX(50px);

}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(135deg) translate(35px, 35px);
    background-color: var(--Dark);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-135deg) translate(35px, -35px);
    background-color: var(--Dark);
}

.menu-btn-wrapper {
    position: sticky;
    float: right;
    transition: all .2s ease-in-out;
}

.menu-active {
    background-color: rgba(255, 255, 255, 1);
}

/* Overlay Menu */
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    transition: .3s cubic-bezier(0.61, 1, 0.88, 1);
}

.overlay-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    max-width: 350px;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--Dark);
    background-color: transparent;
}

.overlay-content a {
    align-self: center;
    display: block;
    color: var(--Dark);
    background-color: transparent;
    text-decoration: none;
    font-size: 4em;
    transition: all .4.5s;
}

.overlay-content a:hover {
    color: var(--ThirdColor);
}

@media (max-width:650px) {
    .overlay-content a {
        font-size: 3em;
    }
}
@media (max-width:430px) {
    .overlay-content a {
        font-size: 2.4em;
    }
}

/* Logo */
.logo-container {
    position: absolute;
    margin: 40px;
    margin-left: 70px;
    width: 50px;
    height: 50px;
    font-size: default;
    text-align: center;
    border: 2.5px solid white;
    z-index: 2;
    transition: transform .4s ease-in;
} 

@media (max-width:550px) {
    .logo-container {
        margin-left: 40px;
    }
}
  
.logo-container p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Roboto', sans-serif;
    transform: translate(-50%, -50%);
 }
  
.logo-container:hover {
    transform: rotate(-45deg);
}

.menu-active-logo {
    background-color: white;
    color: var(--Dark);
    border: 3px solid var(--Dark);
}

.menu-active-logo p {
    background-color: white;
    color: var(--Dark);
}

/* Navigation section */
nav{
    position:fixed;
    top:0px;
    width: 100%;
    background: transparent;
    overflow:hidden;
}